
body {
background-color:  #252a34;
}

/*Login*/

#login{
  color: #f8f8f8;
  width: 25rem;
  height: 22rem;
  text-align: center;

  margin: 10% 35% 0 35%;
  background-color: #413c69;
  opacity: 0.9;
}

.sign-title{
  padding: 1rem;
}

.form-group {
  display: inline-block;
}
.form-check {
text-align: left;
padding-left: 3.8rem;
padding-bottom: 1rem;
}

#inputEmail,#inputPassword, #inputName{
  width: 20rem;
}

.signInBtn {
width: 15rem;
margin-bottom: 1rem;
}
